# Registry for publishing (CI uses NODE_AUTH_TOKEN via setup-node)
@anticaos:registry=https://npm.pkg.github.com

# For consumers of this package, add to your project's .npmrc:
# @anticaos:registry=https://npm.pkg.github.com
# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
